* {
  margin: 0px;
  font-family: "Lato", sans-serif;
}

:root {
  --grey: #d3d3d3;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  height: 50px;
  display: grid;
  grid-template-columns: 500px 1fr 500px;
  width: 100%;

  /* background-color: #f2b231; */
  background-color: #fdedca;
}

.header li {
  list-style-type: none;
}

.heading {
  padding: 15px;
}

.red {
  color: #ed4747;
}

nav {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  place-items: center;
}

.login-button {
  position: relative;
  left: 350px;
  margin-top: 7px;
  margin-bottom: 10px;
  padding: 5px 15px;
}

.button {
  border-radius: 10px;
  border: 1px solid;
  width: 100px;
  display: grid;
  padding: 5px 10px;
  place-items: center;
  background-color: #ed4747;
  color: white;
}

.wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* CAFE INFORMATION */

.cafe-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.cafe-details {
  padding: 10px 0px;
}

.box {
  padding: 1px 10px;
  font-size: 12px;
  border-radius: 10px;
  background-color: #ed4747;
}

.cafe-details h1 {
  font-size: 36px;
}

.cafe-picture {
  display: grid;
  justify-content: right;
  grid-gap: 10px;
}

.rating img {
  width: 15px;
}

.cafe-picture img {
  height: 200px;
}

.walking-container {
  width: 80px;
}

.walking-container img {
  width: 15px;
  height: 15px;
}

.walking-container p {
  display: inline-block;
}

/* MENU */

.menu-container ul {
  display: grid;
  grid-auto-flow: column;
  list-style-type: none;
  padding-top: 20px;
  padding-left: 0px;
}

.menu-container {
  border-bottom: solid 2px var(--grey);
}

/* MENU ITEMS */

.tile-container {
  display: grid;
  grid-template-columns: 1fr 300px;
  border-bottom: solid 2px var(--grey);

  padding: 10px;
  border: 0px 10px;
}

.top-margin {
  border-top: solid 2px var(--grey);
}

.item h2 {
  padding: 10px 0px;
}

.tile-container img {
  height: 70px;
}

.item-details {
  line-height: 25px;
}

.item-picture {
  display: grid;
  place-items: center;
  justify-content: right;
}

.footer {
  height: 100px;
  padding: 10px;
  background-color: #fdedca;
}
.footer-container {
  display: grid;
  grid-auto-flow: column;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer ul {
  list-style-type: none;
  padding: 0px;
}

.social img {
  width: 15px;
}

a:hover {
  color: #ed4747;
}

.button:active {
  transform: translateY(2px) translateX(2px);
}
